@keyframes bomb-anim {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes bomb-anim {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes bomb-anim {
	0% {
		-moz-transform: rotate(0deg);
	}
	100% {
		-moz-transform: rotate(360deg);
	}
}

@-ms-keyframes bomb-anim {
	0% {
		-ms-transform: rotate(0deg);
	}
	100% {
		-ms-transform: rotate(360deg);
	}
}

@-o-keyframes bomb-anim {
	0% {
		-o-transform: rotate(0deg);
	}
	100% {
		-o-transform: rotate(360deg);
	}
}

@keyframes colorbomb-anim {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes colorbomb-anim {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes colorbomb-anim {
	0% {
		-moz-transform: scale(1);
	}
	50% {
		-moz-transform: scale(1.2);
	}
	100% {
		-moz-transform: scale(1);
	}
}

@-ms-keyframes colorbomb-anim {
	0% {
		-ms-transform: scale(1);
	}
	50% {
		-ms-transform: scale(1.2);
	}
	100% {
		-ms-transform: scale(1);
	}
}

@-o-keyframes colorbomb-anim {
	0% {
		-o-transform: scale(1);
	}
	50% {
		-o-transform: scale(1.2);
	}
	100% {
		-o-transform: scale(1);
	}
}
			
.board {
	position: relative;
	margin: 0 auto;
	
	overflow: hidden;

}

div.caption {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
}

h1 {
	text-align: center;
	font: normal 32px 'Spirax', cursive;
	color: red;
	text-shadow: 0px 1px black;
	width: 500px;
	position: absolute;
	top: -100px;
	left: -250px;
}

body {
	overflow: hidden;
}

body, html {
	padding: 0;
	margin: 0;
}

h1 em {
	font: normal 12px Arial;
	color: black;
	text-shadow: none;
}

a {
	color: black;
}

h2.scores {
	text-align: center;
	font: normal 24px 'Press Start 2P', cursive;
	position: absolute;
	top: -48px;
	left: -50px;
	z-index: 1;
	width: 100px;
}

.jewel {
	border-radius: 10px;
	position: absolute;

	transition: top 150ms ease-in 0s, left 150ms ease-in 0s;
	
	-webkit-transition: top 150ms ease-in 0s, left 150ms ease-in 0s;
	-moz-transition: top 300ms ease-in 0s, left 300ms ease-in 0s;
	-ms-transition: top 300ms ease-in 0s, left 300ms ease-in 0s;
	-o-transition: top 300ms ease-in 0s, left 300ms ease-in 0s;
}

.jewel.special {
	z-index: 1000;
}

.jewel.special.bomb {
	animation: bomb-anim 1000ms linear infinite;
	
	-webkit-animation: bomb-anim 1000ms linear infinite;
	-moz-animation: bomb-anim 1000ms linear infinite;
	-ms-animation: bomb-anim 1000ms linear infinite;
	-o-animation: bomb-anim 1000ms linear infinite;
}

.jewel.special.colorbomb  {
	animation: colorbomb-anim 1000ms linear infinite;
	
	-webkit-animation: colorbomb-anim 1000ms linear infinite;
	-moz-animation: colorbomb-anim 1000ms linear infinite;
	-ms-animation: colorbomb-anim 1000ms linear infinite;
	-o-animation: colorbomb-anim 1000ms linear infinite;
}

.jewel.orange {
	border: 1px solid #cd7712;
	background: rgb(179,100,4);
	background-image: linear-gradient(right top, rgb(232,161,80) 0%, rgb(179,100,4) 100%);
	background-image: -webkit-linear-gradient(right top, rgb(232,161,80) 0%, rgb(179,100,4) 100%);
	background-image: -moz-linear-gradient(right top, rgb(232,161,80) 0%, rgb(179,100,4) 100%);
	background-image: -ms-linear-gradient(right top, rgb(232,161,80) 0%, rgb(179,100,4) 100%);
	background-image: -o-linear-gradient(right top, rgb(232,161,80) 0%, rgb(179,100,4) 100%);
}

.jewel.blue {
	border: 1px solid #85d1de;
	background: rgb(26,157,177);
	background-image: linear-gradient(right top, rgb(193,226,232) 0%, rgb(26,157,177) 100%);
	background-image: -webkit-linear-gradient(right top, rgb(193,226,232) 0%, rgb(26,157,177) 100%);
	background-image: -moz-linear-gradient(right top, rgb(193,226,232) 0%, rgb(26,157,177) 100%);
	background-image: -ms-linear-gradient(right top, rgb(193,226,232) 0%, rgb(26,157,177) 100%);
	background-image: -o-linear-gradient(right top, rgb(193,226,232) 0%, rgb(26,157,177) 100%);
}

.jewel.green {
	border: 1px solid #4f714d;
	background: rgb(65,99,65);
	background-image: linear-gradient(right top, rgb(126,146,119) 0%, rgb(65,99,65) 100%);
	background-image: -webkit-linear-gradient(right top, rgb(126,146,119) 0%, rgb(65,99,65) 100%);
	background-image: -moz-linear-gradient(right top, rgb(126,146,119) 0%, rgb(65,99,65) 100%);
	background-image: -ms-linear-gradient(right top, rgb(126,146,119) 0%, rgb(65,99,65) 100%);
	background-image: -o-linear-gradient(right top, rgb(126,146,119) 0%, rgb(65,99,65) 100%);
}

.jewel.red {
	border: 1px solid #914e31;
	background: rgb(144,77,49);
	background-image: linear-gradient(right top, rgb(199,120,81) 0%, rgb(144,77,49) 100%);
	background-image: -webkit-linear-gradient(right top, rgb(199,120,81) 0%, rgb(144,77,49) 100%);
	background-image: -moz-linear-gradient(right top, rgb(199,120,81) 0%, rgb(144,77,49) 100%);
	background-image: -ms-linear-gradient(right top, rgb(199,120,81) 0%, rgb(144,77,49) 100%);
	background-image: -o-linear-gradient(right top, rgb(199,120,81) 0%, rgb(144,77,49) 100%);
}

.jewel.yellow {
	border: 1px solid #fcd327;
	background: rgb(217,178,7);
	background-image: linear-gradient(right top, rgb(247,230,153) 0%, rgb(217,178,7) 100%);
	background-image: -webkit-linear-gradient(right top, rgb(247,230,153) 0%, rgb(217,178,7) 100%);
	background-image: -moz-linear-gradient(right top, rgb(247,230,153) 0%, rgb(217,178,7) 100%);
	background-image: -ms-linear-gradient(right top, rgb(247,230,153) 0%, rgb(217,178,7) 100%);
	background-image: -o-linear-gradient(right top, rgb(247,230,153) 0%, rgb(217,178,7) 100%);
}

.jewel.brown {
	border: 1px solid #66441e;
	background: rgb(72,42,8);
	background-image: linear-gradient(right top, rgb(120,84,44) 0%, rgb(72,42,8) 100%);
	background-image: -webkit-linear-gradient(right top, rgb(120,84,44) 0%, rgb(72,42,8) 100%);
	background-image: -moz-linear-gradient(right top, rgb(120,84,44) 0%, rgb(72,42,8) 100%);
	background-image: -ms-linear-gradient(right top, rgb(120,84,44) 0%, rgb(72,42,8) 100%);
	background-image: -o-linear-gradient(right top, rgb(120,84,44) 0%, rgb(72,42,8) 100%);
}

.jewel.selected {
	opacity: 0.7;